/* Скрывает скроллбар для всех элементов, но сохраняет возможность прокрутки */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Возможно, нужно будет установить это свойство */
}

body {
    overflow: auto;
}
